*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Cairo, sans-serif;
  font-size: 62.5%;
  color: #3d3c42;
  background-color: #feffef;
}

.blog-container {
  display: grid;

  grid-template-areas:
    'nav nav nav nav'
    'main main main aside'
    'contact contact contact contact'
    'footer footer footer footer';
}

.blog-page {
  grid-area: main;
  height: 100%;
  width: 70%;
  margin: 3.5rem auto;
}
.blog-page-link:link,
.blog-page-link:visited {
  color: #354259;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.blog-page-link:hover,
.blog-page-link:active {
  color: #354259;
  background-color: #b7e5dd;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #354259;
  text-decoration: underline;
}
.blog-page-heading {
  font-size: 2.5rem;
  width: 50%;
  display: flex;
  margin: 2rem 0;
}

.blog-page-auth {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
  align-items: center;
}
.blog-page-auth-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: 1px solid #ccc;
}
.blog-page-auth-name {
  font-size: 0.8rem;
  font-weight: 600;
}
.blpog-page-auth-company {
  font-size: 0.8rem;
  font-weight: 600;
}
.blog-page-auth-date {
  font-size: 0.8rem;
}
.blog-page-auth-bio-text {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1rem 0;
}
.blog-page-image {
  width: 75%;
  border-radius: 1rem;
  margin: 1rem auto;
}
.blog-page-main-image {
  width: 90%;
  height: auto;
  border-radius: 1rem;
}
.blog-page-content {
  margin: 1.5rem 0;
}
.blog-page-content-text {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1.5rem 0.5rem;
  text-align: justify;
}
.blog-page-content-heading-secondary {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.blog-page-content-heading-tertiary {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 2rem 5rem;
  text-align: justify;
}

.blog-page-content-list {
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
}
.blog-page-content-list li::before {
  content: '\f058';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 1rem;
}
.blog-page-content-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.blog-page-content-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.blog-page-content-link:link,
.blog-page-content-link:visited {
  color: #354259;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.blog-page-content-link:hover,
.blog-page-content-link:active {
  color: #354259;
  text-decoration: underline;
}

.blog-page-content-share {
  background-color: #b7e5dd;
  padding: 0.4rem 0.5rem;
  border-radius: 0.4rem;
  position: relative;
}
.blog-page-content-share-text {
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  top: 1px;
}
.line {
  border-top: 1px solid #354259;
  margin: 3rem;
}
.blog-page-content-author {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.3rem 3rem;
}
.blog-page-content-author-image {
  border-radius: 50%;
}
.blog-page-content-author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
}
.blog-page-content-author-heading {
  font-size: 1rem;
}
.blog-page-content-author-name {
  font-size: 1.4rem;
  font-weight: 700;
}
.blog-page-content-author-description {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.8rem 0.5rem;
  font-weight: 500;
  text-align: justify;
}
.related-posts {
  display: grid;
  grid-template-areas: 'heading heading';
}
.related-post {
  grid-area: heading;
}
.related-post-heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 4rem;
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}
blockquote {
  font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
  .blog-container {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
  }
  .blog-page-heading {
    font-size: 1.9rem;
    width: 100%;
  }
  .blog-page-auth {
    gap: 1.1rem;
    width: 100%;
  }
  .blog-page-auth-img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
  }
  .blog-page-auth-date {
    font-size: 0.7rem;
  }
  .blog-page-content-heading-tertiary {
    width: 100%;
    margin: 2rem 0;
  }
  .blog-page-content-social {
    display: grid;
    grid-template-columns: 1fr;
  }
  .blog-page-content-links {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  .blog-page-content-share-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .related-posts {
    display: flex;
    flex-direction: column;
  }
  .blog-page-content-author-info {
    text-align: left;
  }
  .blog-page-content-author-description {
    text-align: left;
  }
}
@media screen and (max-width: 760px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .blog-container {
    display: flex;
    flex-direction: column;
  }
  .related-posts {
    display: flex;
    flex-direction: column;
  }
  .privicy {
    display: flex;
    flex-direction: column;
  }
  .privicy-list {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .blog-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .blog-card {
    width: 20rem;
  }
  .blog-image {
    width: 18rem;
    margin: 0 auto;
  }
}
