.link:link,
.link:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #354259;
  transition: all 0.5s ease;
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}
.link:hover,
.link:active {
  color: #354259;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

.button:link,
.button:visited {
  font-size: 1.1rem;
  background-color: #354259;

  padding: 0.3rem 1.5rem;
  border-radius: 5rem;
  color: #dfddc7;
  text-decoration: none;
  transition: all 0.5s ease;
}
.button:hover,
.button:active {
  background-color: #b1bce6;
  color: #354259;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

.header-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  width: 30%;
}

.nav-item {
  padding: 0.05rem 0.3rem;
  font-size: 1.1rem;
}
.nav-item:link,
.nav-item:visited {
  border-radius: 0.5rem;
  background-color: #354259;
  color: #dfddc7;

  transition: all 0.5s;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-item:hover,
.nav-item:active {
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  background-color: #b1bce6;
  color: #354259;
}
.card-contact {
  height: 6rem;
  width: 25rem;
  border: 1px solid #dfddc7;
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 2.5rem 3rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.card-icon {
  font-size: 2rem;
  margin-left: 1.5rem;
}
.card-content {
  margin: 0 0 0 2rem;
  font-size: 1rem;
}
.contact-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-text {
  font-size: 0.9rem;
  font-weight: 500;
}
.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1.5rem 0;
}
.blog-card {
  width: 25rem;
  border-radius: 0.8rem;
  margin: 1.8rem 0.8rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  padding: 1rem 1rem;
  background-color: #fff;
}
.blog-image {
  width: 22rem;
  height: 14.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
  margin: 0 0.6rem;
}

.blog-image:hover {
  background-color: rgba(0, 0, 0, 0.425);
}
.blog-caption {
  font-size: 0.8rem;
  font-weight: 600;
}
.blog-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.blog-card-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.blog-card-text {
  font-size: 0.9rem;
  font-weight: 500;
}
.blog-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.blog-footer-text {
  font-size: 0.8rem;
  font-weight: 600;
}
.blog-user-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 1.2rem 0.9rem 0 0;
}
.privicy-list {
  margin-top: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.privicy-links {
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
}
.about-text {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}
.recent-post {
  width: 20rem;
  height: max-content;
  padding: 1rem 1rem;
  margin: 3.5rem 0;
  border: 1px solid #354259;
}
.recent-post-image {
  width: 6rem;
  height: 5rem;
  border-radius: 0.5rem;
}
.recent-post-content {
  margin: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); */
}
.recent-post-title {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
.recent-post-text {
  font-size: 0.7rem;
  font-weight: 700;
}
.fa-solid {
  color: #3d3c42;
}
.fa-brands {
  font-size: 2rem;
  color: #3d3c42;
  margin: 1.5rem;
  transition: all 0.5s;
}
.fa-facebook-f:hover {
  color: #4267b2;
}
.fa-twitter:hover {
  color: #1da1f2;
}
.fa-instagram:hover {
  color: #e1306c;
}
.fa-linkedin:hover {
  color: #0077b5;
}
