.button {
  font-size: 1.1rem;
  background-color: #a34a28;

  padding: 0.3rem 1.5rem;
  border-radius: 5rem;
  color: #dfddc7;
  text-decoration: none;
  transition: all 0.5s ease;
}
.button:hover {
  background-color: #5c6758;
  color: #dfddc7;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.header-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  width: 30%;
}

.nav-item {
  padding: 0.05rem 0.3rem;
}
.nav-item:link,
.nav-item:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
}
.nav-item:hover,
.nav-item:active {
  background-color: #5c6758;
  color: #dfddc7;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotateX(5deg) scale(1.3);
}
