/* #5c6758;
   #a34a28;
   #dfddc7;
   #3d3c42;
*/

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700;800&display=swap');
@import url('/styles/components.css');
@import url('/styles/blog.css');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Cairo, sans-serif;
  font-size: 62.5%; /* =16px */
  background-color: #dfddc7;
  color: #3d3c42;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* grid-gap: 10px; */
  grid-template-areas:
    'nav nav nav nav'
    'header header header header'
    'main main main aside'
    'contact contact contact contact'
    'footer footer footer footer';
  margin: 1rem 1rem;
  /* border: 1px solid #5c6758; */
}
.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5c67581c;
  padding: 0 1.5rem;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  padding-right: 2.6rem;
  backface-visibility: hidden;
  background-color: #5c67581c;
}

.header-logo {
  font-size: 1.5rem;
}
.header-heading {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 1.5rem 0 5rem 0;
  text-align: center;
  letter-spacing: 0.5rem;
  animation: moveFromTop 2.8s cubic-bezier(0.55, 0.16, 0.08, 0.84);
}
@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  80% {
    /* opacity: 0.5; */
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  grid-area: main;
  border: 1px solid green;
}

.aside {
  grid-area: aside;
  border: 1px solid blue;
}
.contact {
  grid-area: contact;
  border: 1px solid red;
}
.footer {
  grid-area: footer;
  display: grid;
  align-items: center;

  font-size: 0.8rem;
  text-align: center;
}
