/* #B1BCE6;
   #B7E5DD;
   #354259;
   #3d3c42;
*/

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700;800&display=swap');
@import url('/styles/components.css');
@import url('/styles/blog.css');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Cairo, sans-serif;
  font-size: 62.5%; /* =16px */

  color: #3d3c42;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 40% 1fr;

  grid-template-areas:
    'nav nav nav nav'
    'header header header header'
    'main main main aside'
    'contact contact contact contact'
    'footer footer footer footer';
  margin: 1rem 1rem;
  /* border: 1px solid #5c6758; */
}
.nav {
  grid-area: nav;
  display: flex;

  justify-content: space-between;
  align-items: baseline;
  background-color: #b7e5dd;
  padding: 2rem 1.5rem 0 1.5rem;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;

  backface-visibility: hidden;
  background-color: #b7e5dd;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 72%);
}

.header-logo {
  font-size: 1.5rem;
}
.header-primary {
  font-size: 2.8rem;
  font-weight: 700;
  /* margin: 1.5rem 0 5rem 0; */
  text-align: center;
  letter-spacing: 0.6rem;
  animation: moveFromTop 2.8s cubic-bezier(0.55, 0.16, 0.08, 0.84);
}
.header-secondary {
  font-size: 1.9rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-align: center;
}
.header-tertiary {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
}
.heading-fourth {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}
@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-15rem);
  }

  80% {
    opacity: 0.5;
    transform: translateY(8rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  grid-area: main;
  border: 1px solid green;
}

.aside {
  grid-area: aside;
  border: 1px solid blue;
}
.contact {
  grid-area: contact;
  background-color: #b1bce6;

  padding-top: 1.5rem;
}

.privicy {
  grid-template-columns: 40% repeat(3, 20%);
  display: grid;
  background-color: #b7e5dd;
}

.privicy-about {
  width: 75%;
  margin: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-text {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin: 1.5rem 0;
}

.footer {
  grid-area: footer;
  font-size: 1rem;
  text-align: center;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
