@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;500;700;800&display=swap');
@import url('/styles/components.css');
@import url('/styles/blog.css');

:root {
  --primary: #b1bce6;
  --secondary: #b7e5dd;
  --tertiary: #354259;
  --quaternary: #3d3c42;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Cairo, sans-serif;
  font-size: 62.5%;
  color: #3d3c42;
  background-color: var(--background-color);
}

.container {
  display: grid;

  grid-template-areas:
    'nav nav nav nav'
    'header header header header'
    'main main main aside'
    'contact contact contact contact'
    'footer footer footer footer';
}
.nav {
  grid-area: nav;
  display: flex;
  height: 9rem;
  justify-content: space-between;
  align-items: center;
  background-color: #b7e5dd;
  padding: 2rem 1.5rem 1rem 1.5rem;
}

.header {
  grid-area: header;
  height: 15rem;
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  background-color: #b7e5dd;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 72%);
}

.header-logo {
  font-size: 1.5rem;
}
.header-primary {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.6rem;
  animation: moveFromTop 2.8s cubic-bezier(0.55, 0.16, 0.08, 0.84);
}
.header-secondary {
  font-size: 1.9rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-align: center;
}
.header-tertiary {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
}
.heading-quaternary {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}
@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-15rem);
  }

  80% {
    opacity: 0.5;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  grid-area: main;
  display: flex;
  justify-content: space-between;
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2rem;
  height: max-content;
}
.contact {
  grid-area: contact;
  background-color: #b1bce6;
  padding-top: 1.5rem;
}

.privicy {
  grid-template-columns: 40% repeat(3, 20%);
  display: grid;
  background-color: #b7e5dd;
  margin: 2.5rem 0 0;
  align-items: baseline;
}

.privicy-about {
  width: 75%;
  margin: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer {
  grid-area: footer;
  height: 6rem;
  font-size: 1rem;
  background-color: #b7e5dd;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 760px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .button {
    font-size: 1rem;
    background-color: #354259;

    padding: 0.3rem 1.5rem;
    border-radius: 5rem;
    color: #dfddc7;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  .nav-item {
    padding: 0.05rem 0.3rem;
    font-size: 0.8rem;
  }
  .blog-container {
    display: flex;
    flex-direction: column;
  }
  .privicy {
    display: flex;
    flex-direction: column;
  }
  .privicy-list {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .button {
    font-size: 1rem;
    background-color: #354259;

    padding: 0.3rem 1.5rem;
    border-radius: 5rem;
    color: #dfddc7;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  .nav-item {
    padding: 0.05rem 0.3rem;
    font-size: 0.8rem;
  }

  .header-primary {
    font-size: 1.9rem;
  }
  .header-secondary {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .blog-card {
    width: 20rem;
  }
  .blog-image {
    width: 18rem;
    margin: 0 auto;
  }
  .card-text {
    font-size: 0.7rem;
  }
  .privicy {
    display: flex;
    flex-direction: column;
  }
  .privicy-about-social {
    display: flex;
  }
  .privicy-list {
    margin-left: 1.5rem;
  }
  .footer {
    font-size: 0.8rem;
  }
}
